@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* universal styles */
header {
    background-color: #42789E;
}
header button{
    display: none;
}

.site-nav {
    margin: 0 10%;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.site-nav a {
    position: relative;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    padding: 5px 10px;
}

body {
    background-image: linear-gradient(#63b2ebbc, #5FACE3);
}
.button{
    background-color: #5091BF;
    text-decoration: none;
}
.button:hover{
    background-color: #437aa1;
}
.button:active{
    background-color: #437aa1;
}

footer {
    background-color: #42789E;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.footer-wrapper {
    width: 100%;
    margin: 0 10%;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.footer-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-links>a {
    height: 75px;
    width: 75px;
}

.footer-links>a>img {
    height: 75px;
    width: 75px;
}

.footer-links>a:hover,
.footer-links>a:active {
    transform: scale(1.1);
}


/* Home Page */
.home-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 10%;
    padding-left: 25px;
    padding-bottom: 35px;
}

.home-wrapper>div {
    width: 50%;
}

.home-wrapper>img {
    width: 40%;
}

.home-wrapper h1{
    font-size: 5.2vw;
    font-weight: 300;
}
.home-wrapper h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}
.home-squares{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.home-squares section{
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 1vh;
}
.home-squares>section:nth-of-type(1), .home-squares>section:nth-of-type(2){
    margin-bottom: 25px;
}
.home-squares section img{
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 15px 0;
}
.home-squares section a{
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 15px;
}

/* resume */
.resume-main{
    display: flex;
    flex-flow: column nowrap;
    width: 849.75px;
    margin: auto;
}
.resume-main h1{
    align-self: center;
    font-size: 90px;
    font-weight: 400;
}
.resume-wrapper{
    display: flex;
    flex-flow: row nowrap;
    width: 849.75px;
    height: 1100px;
    padding-bottom: 25px;
}

.resume-column-one{
    background-color: #EDEDED;
    width: 3%;
}

.resume-column-two{
    background-color: #072739;
    width: 45%;
}

.resume-wrapper h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}
.resume-column-two p{
    font-size: 22px;
    font-weight: 400;
    color: #072739;
    background-color: white;
    width: 300px;
    height: 30px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 127px;
}
.resume-heading-three{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #7676762b;
}
.resume-heading-three span{
    height: 60px;
    width: 25px;
    background-color: #FFBD59;
}
.resume-heading-three h3{
    font-size: 25px;
    color: #FFBD59;
    padding-left: 45px;
}
.resume-column-two h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.resume-wrapper ul{
    list-style-type: none;
}
.resume-column-two>section:nth-of-type(2) section{
    padding-left: 40px;
}
.resume-column-two>section:nth-of-type(2) li{
    font-weight: 300;
}
.resume-column-two>section:nth-of-type(3) li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 10px;
}
.resume-column-two>section:nth-of-type(3) li div{
    background-color: #FFBD59;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume-column-two>section:nth-of-type(3) li div img{
    width: 75%;
}
.resume-column-two>section:nth-of-type(3) li a{
    font-weight: 300;
    text-decoration: none;
    padding-left: 15px;
}
.resume-column-two>section:nth-of-type(3) li span{
    font-weight: 300;
    text-decoration: none;
    padding-left: 15px;
}
.resume-column-two>section:nth-of-type(2){
    margin-bottom: 15px;
}
.resume-column-two>section:nth-of-type(2) section:first-of-type{
    margin-top: 15px;
}
.resume-column-two>section:nth-of-type(3) ul{
    margin-top: 15px;
}

.resume-column-three{
    background-color: #EDEDED;
    width: 45%;
}
.resume-column-three>section:nth-of-type(1) h3{
    margin-top: 65px;
}
.resume-column-three>section:nth-of-type(1){
    margin-bottom: 10px;
}
.resume-column-three h3{
    color: #072739;
    font-size: 25px;
}
.resume-column-three h4{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.resume-column-three>section:nth-of-type(1), .resume-column-three>section:nth-of-type(2) section, .resume-column-three>section:nth-of-type(3) section{
    padding-left: 40px;
}
.resume-column-three p{
    color: black;
    font-size: 15px;
}
.resume-column-three li{
    color: black;
}
.resume-column-three li ul{
    list-style-type: disc;
    padding-left: 20px;
}
.resume-column-three li ul li{
    font-size: 15px;
}
.resume-column-three>section:nth-of-type(2) section:first-of-type{
    margin-top: 15px;
}
.resume-column-three>section:nth-of-type(2) section:last-of-type{
    margin-bottom: 32.5px;
}
.resume-column-three>section:nth-of-type(3) h4{
    margin-top: 15px;
}

.resume-column-four{
    background-color: #072739;
    width: 7%;
}

.resume-main .button{
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 15px;
}


/* contact */
.contact-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.contact-box{
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    width: 850px;
    border-radius: 20px;
    margin-bottom: 500px;
}
.contact-box p{
    color: #254459;
    font-size: 22px;
    margin: 20px 40px;
}
.contact-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.contact-buttons .button{
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 1vh;
    padding: 7.5px 0;
    margin: 10px 40px;
}
.contact-buttons .button span{
    font-size: 22px;
    font-weight: 500;
}
.contact-buttons .button img{
    margin:0 4px;
    width: 40px;
}


/* about */
.about-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.row, .row-reverse{
    background-color: white;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 1.5vh;
}
.row>div, .row-reverse>div{
    width: 65%;
    margin: 20px 0;
    margin-left: 20px;
}
.row-reverse>div{
    margin-right: 20px;
}
.row>img, .row-reverse>img{
    width: 30%;
    height: 396.8px;
    object-fit: cover;
    margin: 20px 0;
    margin-right: 20px;
}
.row-reverse>img{
    order: -1;
    margin-left: 20px;
}
.row h2, .row-reverse h2{
    color: #254459;
    font-weight: 500;
    font-size: 40px;
}
.row p, .row-reverse p{
    color: #254459;
    font-size: 22px;
}
/* portfolio */
.portfolio-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.portfolio-main .button{
    width: 200px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 5px 0;
}
.portfolio-main .row>div, .portfolio-main .row-reverse>div{
    display: flex;
    flex-flow: column nowrap;
}
.portfolio-main .button{
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 15px;
}
.portfolio-main .row>div p span, .portfolio-main .row-reverse>div p span{
    font-style: italic;
    color: #072739;
    font-weight: 500;
}
.portfolio-main .row>div p:nth-of-type(2), .portfolio-main .row-reverse>div p:nth-of-type(2){
    margin-top: 10px;
}
.portfolio-main section:nth-of-type(1) img, .portfolio-main section:nth-of-type(2) img{
    height: 265px;
}
.portfolio-main section:nth-of-type(3) img{
    height: 190px;
}

/* web portfolio */
.web-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.web-row, .web-row-reverse{
    margin: 40px 10%;
    display: flex;
    flex-flow: row nowrap;
}
.web-written{
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.web-written>div{
    background-color: white;
    border-radius: 1.5vh;
}
.web-row h2, .web-row-reverse h2{
    color: #254459;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}
.web-row p, .web-row-reverse p{
    color: #254459;
    font-size: 22px;
    margin: 0 15px;
}
.web-icons{
    margin: 5px 15px;
}

.web-row-reverse .computer-graphic-container{
    order: -1;
}
.computer-graphic-container{
    width: 45%;
}
.computer-graphic-container figure{
    position: relative;
}
.computer-graphic-container img:first-of-type{
    width: 100%;
}
.computer-graphic-container .button{
    position: absolute;
    top: 68.5%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 25%;
    font-size: 1.25vw;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 0.5% 0;
}
.web-button-left, .web-button-right{
    border: none;
    background-color: #5091BF;
    position: absolute;
    top: 68.5%;
    display: block;
    width: 10%;
    font-size: 1.25vw;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 0.5% 0;
}
.web-button-left{
    left: 25%;
    background-color: #437aa1;
}
.web-button-right{
    left: 65%;
}
.web-button-left:hover, .web-button-right:hover{
    background-color: #437aa1;
}
.web-button-left:active, .web-button-right:hover{
    background-color: #437aa1;
}
.web-fill-image{
    display: block;
    position: absolute;
    object-fit: cover;
    width: 76.7%;
    height: 50.4%;
    top: 17.1%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-transition{
    background-color: black;
    position: absolute;
    width: 76.7%;
    height: 50.4%;
    top: 17.1%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

/* Game dev */
.game-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.game-icons{
    margin: 5px 15px;
}
.game-main .row>img{
    height: 530px;
}
.game-main .row-reverse>img{
    height: 670px;
}

/* writing */
.writing-main h1{
    text-align: center;
    font-size: 90px;
    font-weight: 400;
}
.writing-column{
    background-color: white;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 1.5vh;
}
.writing-column h2{
    color: #254459;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.writing-column p{
    color: #254459;
    font-size: 22px;
    width: 95%;
    align-self: center;
    margin-bottom: 20px;
}
.writing-main iframe{
    width: 95%;
    aspect-ratio: 4/3;
    align-self: center;
    margin-bottom: 20px;
}
/* header button animation */
.site-nav>a:hover {
    animation: bg-hover ease-out 1s, color-hover ease-out 0.25s;
    background-color: white;
    color: #42789E;
    text-align: center;
}

@keyframes bg-hover {
    from {
        background-color: #42789E;
    }

    to {
        background-color: white;
    }
}
@keyframes color-hover {
    from {
        color: white;
    }

    to {
        color: #42789E;
    }
}
/* bottom */
.site-nav>a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a::before {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    right: 50%;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a:hover::after,
.site-nav>a:hover::before {
    transition-delay: 0.2s;
    transform: scaleX(1);
}

/* top */
.site-nav>a .span-one::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    top: 0;
    left: 50%;
    background-color: white;
    transform-origin: top right;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a .span-one::before {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    top: 0;
    right: 50%;
    background-color: white;
    transform-origin: top left;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a:hover .span-one::after,
.site-nav>a:hover .span-one::before {
    transition-delay: 0.2s;
    transform: scaleX(1);
}

/* left */
.site-nav>a .span-two::after {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    top: 50%;
    left: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a .span-two::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    bottom: 50%;
    left: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a:hover .span-two::after,
.site-nav>a:hover .span-two::before {
    height: 50%;
    transition-delay: 0s;
}

/* right */
.site-nav>a .span-three::after {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    top: 50%;
    right: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a .span-three::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    bottom: 50%;
    right: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a:hover .span-three::after,
.site-nav>a:hover .span-three::before {
    height: 50%;
    transition-delay: 0s;
}
/* h2 animation */
.home-wrapper h2{
    transition: opacity 0.5s ease-in-out;
}


/* mobile */
@media only screen and (max-width:480px){
    /* header */
    header button{
        display: block;
        background-color: transparent;
        border: none;
        padding-left: 15px;
        padding-top: 15px;
        width: 75px;
        height: 75px;
    }
    header button img{
        width: 100%;
    }
    .site-nav {
        background-color: #42789E;
        position: fixed;
        z-index: 1;
        margin: auto;
        width: 0;
        height: 100vh;
        flex-flow: column nowrap;
        justify-content: flex-start;
        transition: width 0.5s ease-in-out;
    }
    .site-nav a {
        opacity: 0;
        width: 100%;
        text-align: center;
        font-size: 32px;
        padding: 15px 10px;
        border-bottom: solid white 2px;
        transition: opacity 0.5s ease-in-out;
    }
    .site-nav a:first-of-type{
        border-top: solid white 2px;
    }
    .site-nav>a:hover{
        animation: none;
        background-color: white;
        color: #42789E;
    }
    /* footer */
    .footer-wrapper {
        font-size: 16px;
    }
    .footer-links>a {
        height: 50px;
        width: 50px;
    }
    .footer-links>a>img {
        height: 50px;
        width: 50px;
    }
    /* Home Page */
    .home-wrapper>div {
        width: 100%;
    }
    .home-wrapper>img {
        display: none;
    }
    .home-wrapper h1{
        text-align: center;
        font-size: 70px;
    }
    .home-wrapper h2{
        text-align: center;
    }
}
