@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* universal styles */
header {
    background-color: #42789E;
}

.site-nav {
    margin: 0 10%;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.site-nav a {
    position: relative;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    padding: 5px 10px;
}

main {
    background-image: linear-gradient(#63b2ebbc, #5FACE3);
}
.button{
    background-color: #5091BF;
    text-decoration: none;
}
.button:hover{
    background-color: #437aa1;
}
.button:active{
    background-color: #437aa1;
}

footer {
    background-color: #42789E;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.footer-wrapper {
    width: 100%;
    margin: 0 10%;
    height: 75px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.footer-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-links>a {
    height: 75px;
    width: 75px;
}

.footer-links>a>img {
    height: 75px;
    width: 75px;
}

.footer-links>a:hover,
.footer-links>a:active {
    transform: scale(1.1);
}


/* Home Page */
.home-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 10%;
    padding-left: 25px;
    padding-bottom: 35px;
}

.home-wrapper>div {
    width: 50%;
}

.home-wrapper>img {
    width: 40%;
}

.home-wrapper h1{
    font-size: 5.2vw;
    font-weight: 300;
}
.home-wrapper h2{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}
.home-squares{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.home-squares section{
    width: 45%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    border-radius: 1vh;
}
.home-squares>section:nth-of-type(1), .home-squares>section:nth-of-type(2){
    margin-bottom: 25px;
}
.home-squares section img{
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 15px 0;
}
.home-squares section a{
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.75vh;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 15px;
}


/* header button animation */
.site-nav>a:hover {
    animation: bg-hover ease-out 1s, color-hover ease-out 0.25s;
    background-color: white;
    color: #42789E;
    text-align: center;
}

@keyframes bg-hover {
    from {
        background-color: #42789E;
    }

    to {
        background-color: white;
    }
}
@keyframes color-hover {
    from {
        color: white;
    }

    to {
        color: #42789E;
    }
}
/* bottom */
.site-nav>a::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a::before {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    right: 50%;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a:hover::after,
.site-nav>a:hover::before {
    transition-delay: 0.2s;
    transform: scaleX(1);
}

/* top */
.site-nav>a .span-one::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    top: 0;
    left: 50%;
    background-color: white;
    transform-origin: top right;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a .span-one::before {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 4px;
    top: 0;
    right: 50%;
    background-color: white;
    transform-origin: top left;
    transition: transform 0.2s ease-in-out;
}

.site-nav>a:hover .span-one::after,
.site-nav>a:hover .span-one::before {
    transition-delay: 0.2s;
    transform: scaleX(1);
}

/* left */
.site-nav>a .span-two::after {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    top: 50%;
    left: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a .span-two::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    bottom: 50%;
    left: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a:hover .span-two::after,
.site-nav>a:hover .span-two::before {
    height: 50%;
    transition-delay: 0s;
}

/* right */
.site-nav>a .span-three::after {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    top: 50%;
    right: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a .span-three::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 4px;
    bottom: 50%;
    right: 0;
    background-color: white;
    transition: height 0.2s ease-in-out 0.2s;
}

.site-nav>a:hover .span-three::after,
.site-nav>a:hover .span-three::before {
    height: 50%;
    transition-delay: 0s;
}
/* h2 animation */
.home-wrapper h2{
    animation: homeHeading 12s infinite;
}
@keyframes homeHeading {
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    28%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    38%{
        opacity: 1;
    }
    61%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    71%{
        opacity: 1;
    }
    94%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}